       {{> header}}

       {{> sidebar}}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        {{> content-header}}

        <!-- Main content -->
        <section class="content">
            
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

       {{> footer}}

       {{> controlsidebar}}

